<section class="d-flex text-light">
    <form action="" class="d-flex flex-column w-50 justify-content-center align-items-center">
        <h1>Register Form</h1>

        <input class="w-50 mt-1" type="email" name="email" id="email" placeholder="Email" required>
        <input class="w-50 mt-1" type="password" name="password" id="password" placeholder="Password" required>
        <input class="w-50 mt-1" type="text" name="avatar" id="avatar" placeholder="Avatar">
        <input class="w-50 mt-1" type="number" name="role" id="role" placeholder="Role">
        <button class="btn btn-outline-light mt-2" type="button" id="register" value="REGISTER">REGISTER </button>
    </form>
    <article class="w-50">
        Latest Users
        <span id="update"></span>
    </article>

</section>

    <script src="https://cdn.socket.io/4.7.5/socket.io.min.js"></script>
    <script src="/public/js/socket.js"></script>

<script>
    const emailInput = document.getElementById('email');
    const passwordInput = document.getElementById('password');
    const registerButton = document.getElementById('register');

    function validateForm() {
        if (emailInput.value && passwordInput.value) {
            registerButton.disabled = false;
        } else {
            registerButton.disabled = true;
        }
    }

    emailInput.addEventListener('input', validateForm);
    passwordInput.addEventListener('input', validateForm);

</script>