<section class="d-flex text-light">
    <form action="" class="d-flex flex-column w-50 justify-content-center align-items-center">
        <h1>Register Form</h1>
    
        {{#if error}}
    <div class="alert alert-danger w-50 text-center">
        {{error}}
    </div>
    {{/if}}

        <input class="w-50" type="text" name="userName" id="userName" placeholder="User Name">
        <input class="w-50 mt-1" type="email" name="email" id="email" placeholder="Email" required>
        <input class="w-50 mt-1" type="password" name="password" id="password" placeholder="Password" required>
        <input class="w-50 mt-1" type="text" name="photo" id="photo" placeholder="Photo">
        <input class="w-50 mt-1" type="number" name="role" id="role" placeholder="Role">
        <input class="btn btn-outline-light mt-2" type="button" id="register" value="REGISTER">
    </form>
    <article class="w-50">
        Latest Users
        <span id="update"></span>
    </article>

</section>

    <script src="https://cdn.socket.io/4.7.5/socket.io.min.js"></script>
    <script src="/public/js/socket.js"></script>

